html {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', Lato, sans-serif;
}

h1 {
  font-size: 54px;
  color: #ffffff;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;

}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

a{
  text-decoration: none;
}
